/* large desktop */
/* large desktop */
@media screen and (min-width:1200px)
  html
    font-size: 0.14rem;
    
/* Normal desktop */
@media screen and (min-width: 960px) and (max-width: 1199px)
  html
    font-size: 0.13rem;

/* Tablet desktop */
@media screen and (min-width: 768px) and (max-width: 959px)
  html
    font-size: 0.13rem;

/* Large Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px)
  html
    font-size: 0.13rem;

/* small mobile */
@media screen and (min-width:375px) and (max-width:479px) and (orientation:portrait)
  html
    font-size: 0.13rem;

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait)
  html
    font-size: 0.13rem;
    
@media screen and (max-width:359px) and (orientation:portrait)
  html
    font-size: 0.13rem;

